.footer {
  width: 100%;
  height: auto;
  margin: 5px 0 5px 0;
  background-color: $black;
  color: white;
}
.footer .banner {
    font-family: ManifoldDSA-Bold;
    font-size: 3em;
    text-align: center;
}
.title .btn {
    margin: 10px;
    font-weight:300;
}
    
