.title .btn {
 float: clear; /* Avoid overlapping */
 margin: 10px; /* top right bottom left */
 font-weight: 300; /* Normal weight (not bold) */
}
.footer {
 width: 100%;
 height: auto;
 margin: 5px 0 0 0;
 padding: 0;
 background-color: #231F20;
 color: white;
}
/* Redundant
.footer .footer-banner {
 background-color: #231F20;
 font-family: ManifoldDSA;
 font-weight: 700;
 font-size: 40px;
 text-align: center;
}
*/

.fb1, .fb2, .fb3 {
    padding: 2px;
    margin: 0;
    background-color: #231F20;
    font-family: ManifoldDSA;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    opacity: 0; /* Invisible by default */
    position: absolute; /* Don't float, overlap */
    width: 100%;
    text-align: center;
}
.fb1 {
  animation: opacity-1 10s linear forwards;
}
.fb2 {
  animation: opacity-2 10s linear forwards;
}
.fb3 {
  animation: opacity-3 10s linear forwards;
}
@keyframes opacity-1 {
    0% { opacity:0; }
    5% { opacity:1; }
    30% { opacity:1; }
    40% { opacity:0; }
}
@keyframes opacity-2 {
    0% { opacity:0; }
    40% { opacity:0; }
    45% { opacity:1; }
    60% { opacity:1; }
    70% { opacity:0; }
}
@keyframes opacity-3 {
    70% { opacity:0; }
    75% { opacity:1;background-color:$red; }
    100% { opacity:1;background-color:$red; }
}
